// Imports
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;600;800&family=Rubik:wght@300;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

body {
    background: $neutral-0;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.cta {
    border: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    color: $neutral-0;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    background-color: $neutral-10;
    padding: .75rem 2.5rem;
    box-shadow: $shadow-main;
    border-radius: .5rem;
    transition: all .3s ease-in-out;
}

.cta:hover {
    border: none;
    background-color: $neutral-10;
    box-shadow: $shadow-hover;
    text-decoration: none;
    color: $neutral-10;
}

.cta span {
    position: relative;
    z-index: 1;
}

.cta:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 100%;
    background: $primary-1;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-91%) translateY(-35%);
}

.cta:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(9%) translateY(-25%);
}

.sub-heading {
    color: $neutral-10;
    font-size: 2.5rem;
    font-weight: 600;
    border-left: .5rem solid $primary-1;
    padding-left: .5rem;
    border-radius: .5rem;
}

.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    h1 {
        color: $neutral-10;
        font-size: 3rem;
        font-weight: 600;
        margin-top: 2.5rem; // half the height of the header
    }

    h2 {
        color: $neutral-8;
        font-weight: 500;
        margin-bottom: 2rem;
    }
}

.icon-text {
    display: flex;
    color: $neutral-10;
    align-items: center;
    font-size: 1.25rem;

    svg {
        margin-right: 1rem;
        font-size: 2rem;
    }
}

.double-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.double-grid-t {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.triple-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.quadruple-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.two-one-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}

@media (max-width: 1024px) {
    .container {
        width: 768px;
    }

    .cta {
        font-size: .875rem;
        padding: .75rem 2rem;
    }

    .sub-heading {
        font-size: 2rem;
    }

    .banner-container {
        h1 {
            font-size: 2.5rem;
        }

        h2 {
            font-size: 1.25rem;
        }
    }
}

@media (max-width: 834px) {
    .container {
        width: 550px;
    }

    .double-grid-t, .triple-grid {
        grid-template-columns: 1fr;
    }

    .quadruple-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    body {
        width: 100vw;
    }

    .container {
        width: 90%;
    }

    .double-grid, .quadruple-grid {
        grid-template-columns: 1fr;
        grid-gap: 5vw;
    }

    .cta {
        padding: .625rem 1.5rem;
    }

    .sub-heading {
        font-size: 1.75rem;
    }

    .banner-container {
        justify-content: flex-end;

        h1 {
            font-size: 2rem;
            margin-top: 1.5rem;
        }

        h2 {
            font-size: 1rem;
            margin-bottom: 1.5rem;
        }

        a {
            margin-bottom: 5vw;
        }
    }
}

@media (max-width: 320px) {
    .cta {
        padding: .5rem 1.25rem;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1368px;
    }

    .cta {
        font-size: 1.25rem;
        padding: 1rem 3rem;
    }

    .sub-heading {
        font-size: 3rem;
        border-left: .75rem solid $primary-1;
        padding-left: .75rem;
    }

    .banner-container {
        h1 {
            font-size: 4rem;
        }

        h2 {
            font-size: 2rem;
        }
    }
}